<mat-toolbar class="menu-header">
    <div class="menu-toggle">
        <ng-content></ng-content>
        <span class="logo">Icy</span>
    </div>
    <menu class="menu-bar">
        @for (item of menuItems; track item.title) {
        <li [routerLink]="item.url">{{ item.title }}</li>
        }
        <div>
            <button mat-icon-button (click)="openCart()">
                <mat-icon
                    [matBadge]="countCart()"
                    [matBadgeHidden]="countCart() === 0"
                    matBadgeColor="warn"
                    >shopping_cart</mat-icon
                >
            </button>
            <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <app-menu-user-dropdown></app-menu-user-dropdown>
            </mat-menu>
        </div>
    </menu>
</mat-toolbar>
