<app-header [menuItems]="menuItems" (cartBtnEvent)="cart.toggle()">
    <button class="btn-sidenav" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
</app-header>
<mat-drawer-container class="sidenav-container">
    <mat-drawer #sidenav class="sidenav" mode="over">
        <app-sidenav
            [menuItems]="menuItems"
            (closeEvent)="sidenav.toggle()"
            (openCartEvent)="openCart()"
        ></app-sidenav>
    </mat-drawer>
    <mat-drawer #cart class="cartbar" mode="over" position="end">
        <app-products-cart (closeEvent)="cartBar.close()"></app-products-cart>
    </mat-drawer>
    <router-outlet />
</mat-drawer-container>
