/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #fff;
}

.slick-next {
    display: none !important;
}

.error-msg {
    --mdc-snackbar-container-color: #b00020;
    --mat-snack-bar-button-color: white;
}
.success-msg {
    --mdc-snackbar-container-color: #00b02c;
    --mat-snack-bar-button-color: white;
}
