<div class="hero">
    <div class="hero-infos">
        <h1>VAI UM SORVETINHO?</h1>
        <p>Temos vários novos sabores para você experimentar e se deliciar!</p>
        <a href="#products" mat-flat-button color="primary">ver produtos</a>
    </div>
    <div class="hero-bg">
        <img src="assets/imgs/big-ice-cream.png" alt="" class="big-ice-cream" />
        <img
            src="assets/imgs/mid-ice-cream-1.png"
            alt=""
            class="mid-ice-cream mid-ice-cream-1"
        />
        <img
            src="assets/imgs/mid-ice-cream-2.png"
            alt=""
            class="mid-ice-cream mid-ice-cream-2"
        />  
        <div class="wave">
            <svg viewBox="0 0 1848 200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(255, 255, 255, 1)" d="M 0 77 C 148.79999999999998 77 347.20000000000005 190 496 190 L 496 190 L 496 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 495 190 C 636.6 190 825.4 102 967 102 L 967 102 L 967 0 L 495 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 966 102 C 1120.8 102 1327.2 189 1482 189 L 1482 189 L 1482 0 L 966 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 1481 189 C 1595.9 189 1749.1 87 1864 87 L 1864 87 L 1864 0 L 1481 0 Z" stroke-width="0"></path></svg>
        </div>
    </div>
</div>
