<main class="add-product-container">
    <div class="header" routerLink="/panel-products">
        <button mat-icon-button><mat-icon>arrow_back</mat-icon></button>
        <span>Lista de produtos</span>
    </div>
    <mat-divider></mat-divider>
    <h1 class="title"><mat-icon>add</mat-icon>Adicione o seu produto:</h1>
    <form [formGroup]="productForm" (submit)="submitForm()">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Título</mat-label>
                <input
                    matInput
                    placeholder="Título"
                    formControlName="title"
                    required
                />
                <mat-icon matSuffix>title</mat-icon>
            </mat-form-field>
        </div>
        <div class="inline-form-group">
            <mat-form-field appearance="outline">
                <mat-label>Peso</mat-label>
                <input
                    matInput
                    placeholder="Peso"
                    formControlName="weight"
                    required
                    type="number"
                />
                <mat-icon matSuffix>scale</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Unidade</mat-label>
                <mat-select formControlName="measurementUnit" required>
                    <mat-option value="g">g (gramas)</mat-option>
                    <mat-option value="ml">ml (mililitros)</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div style="margin-top: 1rem">
            <h2 class="subtitle"><mat-icon>icecream</mat-icon>Sabores</h2>
            <div class="inline-form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Sabor</mat-label>
                    <mat-chip-grid
                        #chipFlavor
                        required
                        formControlName="flavors"
                    >
                        @for (flavor of flavors; track flavor) {
                        <mat-chip-row
                            (removed)="removeFlavor(flavor)"
                            [editable]="true"
                            (edited)="editFlavor(flavor, $event)"
                            [aria-description]="
                                'Pressione enter para editar o sabor ' + flavor
                            "
                        >
                            {{ flavor }}
                            <button
                                matChipRemove
                                [attr.aria-label]="'Excluir ' + flavor"
                            >
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                        }
                        <input
                            placeholder="Novo sabor..."
                            [matChipInputFor]="chipFlavor"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="addFlavor($event)"
                        />
                    </mat-chip-grid>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Max. Sabores</mat-label>
                    <input
                        matInput
                        type="number"
                        placeholder="Max. Sabores"
                        formControlName="maxFlavors"
                        required
                    />
                </mat-form-field>
            </div>
            <div class="inline-form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Adicionais</mat-label>
                    <mat-chip-grid #chipAditional formControlName="aditionals">
                        @for (aditional of aditionals; track aditional) {
                        <mat-chip-row
                            (removed)="removeAditional(aditional)"
                            [editable]="true"
                            (edited)="editAditional(aditional, $event)"
                            [aria-description]="
                                'Pressione enter para editar o adicional ' +
                                aditional
                            "
                        >
                            {{ aditional }}
                            <button
                                matChipRemove
                                [attr.aria-label]="'Excluir ' + aditional"
                            >
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                        }
                        <input
                            placeholder="Novo adicional..."
                            [matChipInputFor]="chipAditional"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="addAditional($event)"
                        />
                    </mat-chip-grid>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Max. Adicionais</mat-label>
                    <input
                        matInput
                        type="number"
                        placeholder="Max. Adicionais"
                        formControlName="maxAditionals"
                        required
                    />
                </mat-form-field>
            </div>
            <mat-divider></mat-divider>
            <div style="margin-top: 1rem">
                <h2 class="subtitle">
                    <mat-icon>payments</mat-icon>Informações Finais
                </h2>
                <div>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>Preço</mat-label>
                        <input
                            matInput
                            type="number"
                            style="text-align: right"
                            placeholder="0"
                            formControlName="price"
                            required
                        />
                        <span matTextPrefix>R$&nbsp;</span>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Imagem</mat-label>
                        <input
                            matInput
                            type="url"
                            placeholder="Imagem"
                            formControlName="img"
                            required
                        />
                        <mat-icon matSuffix>image</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" mat-flat-button (click)="clearForm()">
                Cancelar
            </button>
            <button type="submit" mat-flat-button color="primary">
                Enviar
            </button>
        </div>
    </form>
</main>
